{% load i18n %}

<div class="panel panel-default">
	<div class="panel-body">
		{% if has_pic %}
		{% if user.personal_picture %}
		<!--<img width="100%" src="{{ user.personal_picture.url }}">-->
		<img width="100%" src="{{ user.personal_picture.url }}">
		{% else %}
		<img width="100%" src="http://placehold.it/150x140">
		{% endif %}
		{% endif %}
		<h4>{{ user }}</h4>
		<dl>
			<dt>{% trans 'Registration ID' %}</dt>
			<dd>{{ user.id }}</dd>
			<dt>{% trans 'Government ID' %}</dt>
			<dd>{{ user.username }}</dd>
			<dt>{% trans 'Mobile' %}</dt>
			<dd>{{ user.mobile }}</dd>
			<dt>{% trans 'Email' %}</dt>
			<dd>{{ user.email }}</dd>
			<dt>{% trans 'Registration Status' %}</dt>
			<dd><h2 class="label label-{{ status_css_class }}">{{ user.get_student_registration_status }}</h2></dd>
		</dl>
	</div>
</div>
<div class="list-group">
	{% if can_confirm %}
	<a href="{% url 'confirm' %}" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> {% trans 'Complete Application' %}</a>
	{% endif %}
	{% if can_print_docs %}
	<a href="{% url 'print_documents' %}" class="list-group-item"><i class="fa fa-print" aria-hidden="true"></i> {% trans 'Print Documents' %}</a>
	{% endif %}
	{% if can_print_withdrawal_letter %}
	<a href="{% url 'withdrawal_letter' %}" class="list-group-item"><i class="fa fa-print" aria-hidden="true"></i> {% trans 'Print Withdrawal Letter' %}</a>
	{% endif %}
	{% if can_edit_phase1_info %}
	<a href="{% url 'edit_info' %}" class="list-group-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit Info' %}</a>
	{% endif %}
	{% if can_edit_contact_info %}
	<a href="{% url 'edit_contact_info' %}" class="list-group-item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans 'Edit Contact Information' %}</a>
	{% endif %}
	{% if can_withdraw %}
	<!--<br>-->
	<!--<span class="text-warning">{% trans "If you don't want to proceed with the application you can still withdraw your application by clicking below on the red button." %}</span><br><br>-->
	<!--<a href="#" class="btn btn-withdraw btn-block"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {% trans 'Withdraw Application' %}</a>-->
	<!--<hr>-->
	<a href="{% url 'withdraw' %}" class="list-group-item"><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {% trans 'Withdraw Application' %}</a>
	{% endif %}
	<a href="{% url 'change_password' %}" class="list-group-item"><i class="fa fa-key" aria-hidden="true"></i> {% trans 'Change Password' %}</a>
	<hr>
	<a href="{% url 'logout' %}" class="btn btn-withdraw btn-block"><i class="fa fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}</a>
</div>