{% extends "base_student_area.html" %}
{% load i18n %}
{% load floppyforms %}

{% block subcontent %}
{% blocktrans %}
<h3>Edit Contact Info</h3>
Fill the form below to update your contact info<br>
<small>You still need to provide unique email and mobile ...</small><br><br>
{% endblocktrans %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form role="form" method="post" action="{% url 'edit_contact_info' %}">
	{% csrf_token %}
	{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}

	<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Update Contact Info' %}"/>
</form>

{% endblock subcontent %}