{% extends "base_student_area.html" %}
{% load i18n %}
{% load floppyforms %}

{% block subcontent %}
{% blocktrans %}
<h3>Change Password</h3>
{% endblocktrans %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form role="form" method="post" action="{% url 'change_password' %}">
	{% csrf_token %}

	{{ form.as_p }}

	<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Change Password' %}"/>
</form>

{% endblock subcontent %}