{% extends "base-sidebar.html" %}
{% load i18n %}
{% load l10n %}
{% load floppyforms %}

{% block subcontent %}
	<h3>{% trans 'Reset Your Password' %}</h3>
	<p>{% trans 'Fill the form below to reset your password' %}
		<small></small>
		<br><br>
	</p>

	{% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
			{% endfor %}
		</div>
	{% endif %}

	<form class="form-horizontal" role="form" method="post" action="{% url 'forgot_password' %}">
		{% csrf_token %}
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.govid.label }} *</label>
			<div class="controls col-sm-7">
				{{ form.govid }}
			</div>
		</div>
		<div class="alert alert-warning">
			{% trans 'You need to provide 2 correct values out of (email - mobile - registration number)' %}
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.id2.label }} *</label>
			<div class="controls col-sm-7">
				{{ form.id2 }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.email.label }}</label>
			<div class="controls col-sm-7">
				{{ form.email }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.mobile.label }} *</label>
			<div class="controls col-sm-7">
				{{ form.mobile }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.password1.label }} *</label>
			<div class="controls col-sm-7">
				{{ form.password1 }}
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-5">{{ form.password2.label }} *</label>
			<div class="controls col-sm-7">
				{{ form.password2 }}
			</div>
		</div>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Reset Password' %}"/>
	</form>

{% endblock subcontent %}
