{% extends "base-sidebar.html" %}
{% load i18n %}
{% load l10n %}
{% load floppyforms %}

{% block subcontent %}
{% blocktrans %}
<h3>Reset Your Password</h3>
Fill the form below to reset your password<br>
<small>You need to provide 2 correct values out of (email, mobile and registration number)</small><br><br>
{% endblocktrans %}

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form class="form-horizontal" role="form" method="post" action="{% url 'forgot_password' %}">
	{% csrf_token %}
	{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
	<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Reset Password' %}"/>
</form>

{% endblock subcontent %}
