{% extends "base-sidebar.html" %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block subcontent %}
	<h3>{% trans 'Reset Your Password' %}</h3>
	<p>{% trans 'Fill the form below to reset your password' %}
		<small></small>
		<br><br>
	</p>

	{% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
			{% endfor %}
		</div>
	{% endif %}

	{{ form.errors }}
	{{ form.non_field_errors }}

	<form class="form-horizontal" role="form" method="post" action="{% url 'undergraduate_admission:forgot_password' %}">
		{% csrf_token %}
		{% crispy form %}
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Reset Password' %}"/>
	</form>

{% endblock subcontent %}
