{% extends "base-sidebar.html" %}
{% load i18n %}
{% load l10n %}
{% load floppyforms %}

{% block subcontent %}

{% if phase1_active %}
<h3>{% trans 'New Application For Admission' %}</h3>
<center>
<a href="{% url 'register' %}" class="btn btn-primary btn-lg btn-admission" style=""><strong>{% trans 'Apply Now' %}</strong></a>
</center>
<br>

<div class="login-or">
	<hr class="hr-or">
	<h4><span class="span-or">{% trans 'or' %}</span></h4>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
	<strong>{% trans 'Registration is closed for this year' %}</strong>
</div>
{% endif %}

{% endblock subcontent %}
