{% extends 'base-sidebar.html' %}
{% load i18n %}
{% load l10n %}

{% block subcontent %}
{% blocktrans %}
<div class="alert alert-success" role="alert">
	<h4><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Success</h4>
	<p>Your application was submitted successfully. Please use the link below to login to the system to check your application status regularly</p>
</div>
{% endblocktrans %}
<br>
<a href="{% url 'login' %}" class="btn btn-success">{% trans 'Login' %}</a>
<br>
<br>
<div class="panel panel-default bg-grey">
	<div class="panel-body">
		<div class="row">
			<!--<div class="col-lg-2">-->
			<!--<img src="http://placehold.it/170x180">-->
			<!--</div>-->
			<div class="col-lg-12">
				<h4>{{ user }}</h4>
				<strong>{% trans 'Application ID' %}:</strong> {{ user.id }}<br>
				<strong>{% trans 'Government ID' %}:</strong> {{ user.username }}<br>
				<strong>{% trans 'Mobile' %}:</strong> {{ user.username }}<br>
				<strong>{% trans 'Application Status' %}:</strong>
				<span class="text-info">{{ user.get_actual_student_status }}</span>
				<hr>
			</div>
		</div>
	</div>
</div>
{% endblock subcontent %}