{% extends 'base-sidebar.html' %}
{% load i18n %}
{% load l10n %}
{% load static %}
{% load floppyforms %}

{% block subcontent %}
{% blocktrans %}
<h3>To get started, please set up an account so you can return to the site to follow up on your application at anytime.</h3>
<h3>We recommend using Chrome or Firefox for a better display.</h3>
Already applied for admission? <a href="/"><u>Log in</u></a> to review your application.
{% endblocktrans %}
<hr>
<form class="form-horizontal" action="{% url 'register' %}" method="post">
	{% csrf_token %}

	{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
	<div class="checkbox form-group">
		<div class="col-sm-5">&nbsp;</div>
		<label class="col-sm-7">
			&nbsp;&nbsp;&nbsp;<input class="concurr" type="checkbox">&nbsp;{% trans 'I confirm that all entered info above are correct' %}
		</label>
	</div>
	<div class="subBtn">
		<!--<hr>-->
		<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Apply for Admission' %}"/>
	</div>
</form>
{% endblock subcontent %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
{% endblock styles %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src="{% static 'js/custom-register.js' %}"></script>
{% endblock scripts %}