{% extends 'base-sidebar.html' %}
{% load i18n l10n static crispy_forms_tags %}

{% block subcontent %}
{% blocktrans %}
<h3>To get started, please set up an account so you can return to the site to follow up on your application at anytime.</h3>
<h3>We recommend using Chrome or Firefox for a better display.</h3>
Already applied for admission? <a href="/"><u>Log in</u></a> to review your application.<br><br>
	<div class="alert alert-warning">
		(*) denotes a mandatory field
	</div>
{% endblocktrans %}
<hr>
<form class="form-horizontal" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{% if form.errors %}
	    <div class="alert alert-block alert-danger">
	        <h4 class="alert-heading">{% trans 'Errors' %}</h4>
	        <ul>
		    {% for field in form %}
			    {% if field.errors %}
			    <li><strong>{{ field.label }}</strong>
			        <ul>
					    {% for error in field.errors %}
			            <li>{{ error }}</li>
					    {% endfor %}
			        </ul>
			    </li>
			    {% endif %}
	        {% endfor %}
	        </ul>
	    </div>
	{% endif %}
	{% crispy form %}
	<div class="checkbox form-group">
		<div class="col-sm-5">&nbsp;</div>
		<label class="col-sm-7">
			&nbsp;&nbsp;&nbsp;<input class="concurr" type="checkbox">&nbsp;{% trans 'I confirm that all entered info above are correct' %}
		</label>
	</div>
	<div class="subBtn">
		<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Apply for Admission' %}"/>
	</div>
</form>
{% endblock subcontent %}

{% block styles %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
{% endblock styles %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script src="{% static 'js/custom-register.js' %}"></script>
{% endblock scripts %}