{% extends 'base_student_area.html' %}
{% load i18n %}
{% load l10n %}

{% block subcontent %}

	{% if messages %}
		<br>
		<div class="messages">
			{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
			{% endfor %}
		</div>
		<br>
	{% endif %}

	<h3>{% trans 'Application Details' %}</h3>
	<hr>
	<form class="form-horizontal">
{#		<div class="form-group">#}
{#			<label class="col-sm-3 control-label">{% trans 'Graduation Year' %}</label>#}
{#			<div class="col-sm-5">#}
{#				<p class="form-control-static">{{ user.high_school_graduation_year }}</p>#}
{#			</div>#}
{#		</div>#}
{#		<div class="form-group">#}
{#			<label class="col-sm-3 control-label">{% trans 'Guardian Mobile' %}</label>#}
{#			<div class="col-sm-5">#}
{#				<p class="form-control-static">{{ user.guardian_mobile }}</p>#}
{#			</div>#}
{#		</div>#}
		<div class="form-group">
			<label class="col-sm-3 control-label">{% trans 'Nationality' %}</label>
			<div class="col-sm-5">
				<p class="form-control-static">{{ user.nationality }}</p>
			</div>
		</div>
		{% if user.saudi_mother %}
			<div class="form-group">
				<label class="col-sm-3 control-label">{% trans 'Saudi Mother' %}</label>
				<div class="col-sm-5">
					<p class="form-control-static">{% trans 'Yes' %}</p>
				</div>
			</div>
		{% endif %}
{#		<div class="form-group">#}
{#			<label class="col-sm-3 control-label">{% trans 'High School System' %}</label>#}
{#			<div class="col-sm-5">#}
{#				<p class="form-control-static">{{ user.high_school_system }}</p>#}
{#			</div>#}
{#		</div>#}

		{% if show_result and user.get_student_total %}
			<div class="form-group">
				<label class="col-sm-3 control-label">{% trans 'Total' %}</label>
				<div class="col-sm-5">
					<p class="form-control-static">{{ user.get_student_total }} %</p>
				</div>
			</div>
		{% endif %}

		{% if show_result %}
			{% if not user.high_school_gpa or not user.qudrat_score or not user.tahsili_score %}
				<div class="form-group">
					<label class="col-sm-3 control-label">{% trans 'Missing Exams' %}</label>
					<div class="col-sm-5">
						<div class="alert alert-danger" role="alert">
							<ul>
								{% if not user.high_school_gpa %}
									<li>{% trans 'Missing High School Score' %}</li>
								{% endif %}
								{% if not user.qudrat_score %}
									<li>{% trans 'Missing Qudrat Score' %}</li>
								{% endif %}
								{% if not user.tahsili_score %}
									<li>{% trans 'Missing Tahsili Score' %}</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			{% endif %}
		{% endif %}

		<div class="form-group">
			<label class="col-sm-3 control-label">{% trans 'Message Status' %}</label>
			<div class="col-sm-5">
				<div class="alert alert-info" role="alert">
					<strong>{{ user.get_actual_student_status|safe }}</strong><br>

				</div>
				{% if can_confirm %}
					<a href="{% url 'confirm' %}" class="btn btn-success btn-lg btn-block">
						<i class="fa fa-user" aria-hidden="true"></i> {% trans 'Complete Application' %}</a>
				{% endif %}

				{% if can_re_upload_docs %}
					<div class="alert alert-danger" role="alert">
						<strong>{% trans 'Please re-upload files for the following reasons' %}:</strong><br>
						{{ user.verification_status }}<br><br>
						<a href="{% url 'upload_documents_incomplete' %}" class="btn btn-warning btn-lg btn-block">
							<i class="fa fa-file" aria-hidden="true"></i> {% trans 'Re-Upload Missing Documents' %}</a>
					</div>
				{% endif %}

				{% if can_upload_withdrawal_proof %}
					<div class="alert alert-danger" role="alert">
						{% trans 'Please upload proof that you have withdrawn from the other university(s)' %}:
						<br><br>
						<a href="{% url 'upload_withdrawal_proof' %}" class="btn btn-warning btn-lg btn-block">
							<i class="fa fa-file" aria-hidden="true"></i> {% trans 'Upload Withdrawal Proof' %}</a>
					</div>
				{% endif %}

			    {% if can_finish_phase3 %}
					<a href="{% url 'student_agreement_1' %}" class="btn btn-success btn-lg btn-block">
						<i class="fa fa-user" aria-hidden="true"></i> {% trans 'Print Admission Letter' %}</a>
				{% endif %}

			</div>
		</div>


	</form>
{% endblock subcontent %}