{% extends 'base.html' %}
{% load i18n %}
{% load l10n %}

{% block content %}
 <div class="container">
    <div class="row">
       <div class="col-lg-12">
            <div class="panel panel-default bg-grey">
               <div class="panel-body">
                  <div class="row">
                     <div class="col-lg-2">
                        <img src="http://placehold.it/170x180">
                     </div>
                     <div class="col-lg-10">
                        <h4>{{ user }}</h4>
                        <strong>{% trans 'Registration ID' %}:</strong> {{ user.id }}<br>
                        <strong>{% trans 'Government ID' %}:</strong> {{ user.username }}<br>
                        <strong>{% trans 'Application Status' %}:</strong>
                         <span class="text-info">{{ user.get_actual_student_status }}</span>
                        <hr>
                        <p>
                           <!--<a href="#" class="btn btn-primary">Complete Application</a>-->
                           <!--<a href="#" class="btn btn-default">Print Documents</a>-->
                           <!--<a href="#" class="btn btn-danger">Withdraw Application</a>-->
                        </p>
                     </div>
                  </div>
               </div>
            </div>
       </div>
   </div>
</div>
{% endblock content %}