SECRET_KEY = '{{ secret_key }}'

DATABASES = {
    'default': {
        'ENGINE': '{{ database_engine }}',
        'NAME': '{{ database_name }}',
        'USER': '{{ database_user }}',
        'PASSWORD': '{{ database_password }}',
        'HOST': '{{ database_host }}',
        'PORT': '{{ database_port }}',
    }
}

DEBUG = {{ django_debug|string }}

ALLOWED_HOSTS = [
    '{{ apache_server_names|join("','") }}',
    '{{ ansible_default_ipv4.address }}',
]

STATIC_ROOT = '{{ django_project_static_dir }}'
MEDIA_ROOT = '{{ django_project_media_dir }}'

# A list of all the people who get code error notifications:
# https://docs.djangoproject.com/en/1.10/ref/settings/#std:setting-ADMINS
ADMINS = [
    {% for admin in admins %}
    ('{{ admin.name }}', '{{ admin.email }}'),
    {% endfor %}
]

# Mail server settings
EMAIL_HOST = '{{ email_host }}'
EMAIL_PORT = '{{ email_port }}'
EMAIL_USE_LOCALTIME = True
EMAIL_USE_TLS = True
EMAIL_HOST_USER = '{{ email_user }}'
EMAIL_HOST_PASSWORD = '{{ email_password }}'
SERVER_EMAIL = '{{ email_user }}'

LOGOUT_REDIRECT_URL = '{{ cas_logout_url }}'

UNIFONIC_APP_SID = "{{ sms_gateway_app_sid }}"

DISABLE_SMS = {{ disable_sms }}
DISABLE_EMAIL = {{ disable_email }}
DISABLE_CAPTCHA = {{ disable_captcha }}

MEDIA_ROOT = '{{ django_project_media_dir }}'

SENDFILE_BACKEND = 'sendfile.backends.xsendfile'
SENDFILE_ROOT = '{{ django_project_media_dir }}'
SENDFILE_URL = '/protected-files'

API_SECURITY_TOKEN = '{{ api_security_token }}'

YESSER_QIYAS_WSDL = '{{ yesser_qiyas_wsdl }}'
YESSER_MOE_WSDL = '{{ yesser_moe_wsdl }}'
YESSER_MOHE_WSDL = '{{ yesser_mohe_wsdl }}'
YESSER_SMS_WSDL = '{{ yesser_sms_wsdl }}'

SMART_CARD_WSDL = '{{ smart_card_wsdl }}'
SMART_CARD_USERNAME = '{{ smart_card_username }}'
SMART_CARD_PASSWORD = '{{ smart_card_password }}'
