SECRET_KEY = '{{ qabool_secret_key }}'

DATABASES = {
    'default': {
        'ENGINE': '{{ qabool_database_engine }}',
        'NAME': '{{ qabool_database_name }}',
        'USER': '{{ qabool_database_user }}',
        'PASSWORD': '{{ qabool_database_password }}',
        'HOST': '{{ qabool_database_host }}',
        'PORT': '{{ qabool_database_port }}',
    }
}

DEBUG = {{ qabool_debug }}

ALLOWED_HOSTS = ['{{ inventory_hostname }}']

RECAPTCHA_PUBLIC_KEY = '{{ qabool_recaptcha_public_key }}'
RECAPTCHA_PRIVATE_KEY = '{{ qabool_recaptcha_private_key }}'

STATIC_ROOT = '{{ static_files_dir }}'

UNIFONIC_APP_SID = '{{ sms_gateway_app_sid }}'
EMAIL_HOST_USER = '{{ qabool_email_user }}'
EMAIL_HOST_PASSWORD = '{{ qabool_email_password }}'
