server {
    # create a hostname for the virtual host.
    server_name{% for url in qabool_urls %} {{ url }}{% endfor %};
    charset     utf-8;

    # (optional)
    access_log {{ nginx_access_log }};
    error_log {{ nginx_error_log }};

    # max upload size
    #client_max_body_size 75M;

    # serve up the static assests via nginx and not python.
    location /static {
        alias {{ static_files_dir }};
    }

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/app/qabool/socket;
        uwsgi_read_timeout 300;
    }
}

