[uwsgi]
processes = {{ uwsgi_processes }}
chdir = {{ install_dir }}/qabool
module = qabool.wsgi:application
virtualenv = {{ venv_dir }}
master = True
vacuum = True
#max-requests = 5000
#harakiri = 20
daemonize = /var/log/uwsgi/qabool.log
uid = www-data
gid = qabool
socket = /run/uwsgi/app/qabool/socket
stats = /run/uwsgi/app/qabool/stats-socket
listen = 10000
cpu-affinity = 1
