{% extends 'undergraduate_admission/admin/base_admin_area.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block subcontent %}
	<h4>{{ now }}</h4>
	{% if slot %}
		<div class="row">
			<div class="col-sm-6">
				<dt>{% trans 'Slot Type' %}</dt>
				<dd>{{ slot.get_type_display }}</dd>
				<dt>{% trans 'Slot Period' %}</dt>
				<dd>{{ slot.slot_start_date }} - {{ slot.slot_end_date|time }}
			</div>
			<div class="col-sm-6">
				<dt>{% trans 'Location' %}</dt>
				<dd>{{ slot.location }}&nbsp;<small class="label label-primary">{% trans 'Capacity' %}: {{ slot.slots }}</small>
				</dd>
				<dt>{% trans 'Attender' %}</dt>
				<dd>{{ slot.attender }}</dd>
			</div>
		</div>
		<hr>
	{% endif %}
		<div class="row">
			<div class="col-sm-5">
				<form>
					{% crispy form %}<br>
					<button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-calendar"></span>&nbsp;{% trans 'Attend' %}</button>
				</form>
			</div>
			<div class="col-sm-7">
				{% if student_entered %}
					{% if student %}
						<div class="alert alert-{% if attended %}success{% else %}danger{% endif %}">
							<h4>
								<span class="glyphicon glyphicon-{% if attended %}ok{% else %}remove{% endif %}"></span>&nbsp;
								{{ student }}&nbsp;<small><strong>{{ student.kfupm_id }}</strong></small>
							</h4>
							{% if student.preparation_course_attendance %}<p><b>{% trans "Attendance Date:" %}</b> {{ student.preparation_course_attendance }}</p>{% endif %}
							{% if student.preparation_course_attended_by %}<p><b>{% trans "Attended By:" %}</b> {{ student.preparation_course_attended_by }}</p>{% endif %}
							<p><b>{% trans 'Slot Period' %}:</b> {{ student.preparation_course_slot.slot_start_date }} - {{ student.preparation_course_slot.slot_end_date|time }}</p>
							{% if early_or_late %}
								<br>
								<div class="alert alert-warning">
									<h6>{% trans 'This student is' %}&nbsp;{{ early_or_late }}</h6>
								</div>
							{% endif %}
						</div>
					{% else %}
						<div class="alert alert-danger">
							<span class="glyphicon glyphicon-remove"></span>&nbsp;
							{% trans 'This student DOES NOT exist. Try a differnt ID!' %}
						</div>
					{% endif %}
				{% endif %}
			</div>
		</div>
{#	{% else %}#}
{#		<div class="alert alert-danger">#}
{#			<h4>#}
{#				<span class="glyphicon glyphicon-remove"></span>&nbsp;#}
{#				{% trans 'No Preparation Course is taking place at the moment' %}</h4>#}
{#			{% if upcoming_slots %}#}
{#				<hr>#}
{#				<h4>{% trans 'Upcoming Courses Slots' %}</h4>#}
{#				<table class="table">#}
{#				{% for slot in upcoming_slots %}#}
{#					<tr>#}
{#						<td>{{ slot.location }}</td>#}
{#						<td>{{ slot.slot_attendance_start_date|timeuntil }}</td>#}
{#						<td>{{ slot.slot_attendance_end_date }}</td>#}
{#					</tr>#}
{#				{% endfor %}#}
{#				</table>#}
{#			{% endif %}#}
{#		</div>#}
{#	{% endif %}#}
	<hr>
	<div class="alert alert-warning">
		{% trans 'Attendance will open 10 minutes prior to the course start time and will close in 40 minutes' %}
	</div>
{% endblock subcontent %}

{% block scripts %}
	<script type="application/javascript">
        $(function () {
            $("#id_kfupm_id").focus(function () {
                $(this).select();
            });

            $("#id_kfupm_id").focus().bind('blur', function () {
                $(this).focus();
            });

            $("html").click(function () {
                $("#id_kfupm_id").val($("#id_kfupm_id").val()).focus();
            });

            //disable the tab key
            $(document).keydown(function (objEvent) {
                if (objEvent.keyCode == 9) {  //tab pressed
                    objEvent.preventDefault(); // stops its action
                }
            });
        });
	</script>
{% endblock %}