{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Undergraduate Admission | King Fahd University of Petroleum &amp;Minerals</title>
	<link rel="icon" href="images/favicon.png">
	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- Custom CSS -->
	<link href="{% static 'css/rtl.css' %}" rel="stylesheet">
	<style media="print">
		* {
			font-size: 99% !important;
		}

		.noprint {
			display: none !important;
		}

		.ftr-fixed-btm {
			position: fixed;
			bottom: 0px;
		}
	</style>
</head>
<body>
<div class="container-fluid noprint">
	<div class="row">
		<div class="col-lg-12"><br>
			<a class="btn btn-success btn-lg" style="font-family:Arial, Helvetica, sans-serif;" href="#" role="button" onclick="window.print();">{% trans 'Print' %}
				<i class="fa fa-print" aria-hidden="true"></i> </a>
		</div>
	</div>
</div>
<img style="width: 85%; margin: 0 auto" class="img-responsive" src="{% static 'images/kfupm_hdr.jpg' %}">

<div class="container-fluid">
	<div class="row">
		<table class="table table-condensed" dir="rtl">
			<tr>
				<td colspan="3" style="text-align: center; vertical-align: middle; font-size: 18pt!important;">
					<h1>نموذج الاستقبال</h1>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="width:33%; text-align: center">
					<h4 style="text-align:center;">{% trans 'Tarifi Week Attendance Date' %}: <b>{{ student.tarifi_week_attendance_date }}</b><br>
						رقم مكتب الاستقبال (الكاونتر) <span>({{ tarifi_data.desk_no }})</span></h4>
				</td>

			</tr>
		</table>
	</div>

	<div class="row">
		<table class="table table-bordered" style="table-layout: fixed">
			<tr>
				<td style="width:15%">
					اسم الطالب
				</td>
				<td style="width:35%">
					{{ student }}
				</td>
				<td style="width:15%">
					الهوية الوطنية
				</td>
				<td style="width:35%">
					{{ student.government_id }}
				</td>
			</tr>
			<tr>
				<td class="auto-style1">
					الرقم الجامعي
				</td>
				<td class="auto-style1">
					{{ student.kfupm_id }}
				</td>
				<td class="auto-style1">
					نقطة الأصل
				</td>
				<td class="auto-style1">
					{{ student.high_school_city }}
				</td>
			</tr>
			<tr>
				<td>
					السكن
				</td>
				<td colspan="3">
					{{ student.eligible_for_housing|yesno }}
					{% if student.eligible_for_housing %}&nbsp;-&nbsp;{{ room }}{% endif %}
				</td>
			</tr>
		</table>

		<table class="table table-striped">
			<tr>
				<td colspan="2" align="center">
					<h4>
						مواعيد دورة التهيؤ و اختبارات اللغة الإنجليزية</h4>
				</td>
			</tr>

			{% if tarifi_data.preparation_course_slot %}
			<tr>
				<td>
					دورة التهيؤ:
				</td>
				<td>
					<span style="direction: rtl">{{ tarifi_data.preparation_course_slot.slot_start_date|date:"d M Y م h:i A" }} - ({{ tarifi_data.preparation_course_slot.location }})</span>
				</td>
			</tr>
			{% endif %}

			{% if tarifi_data.english_placement_test_slot %}
			<tr>
				<td>
					الاختبار التحريري:
				</td>
				<td>
					<span style="direction: ltr">{{ tarifi_data.english_placement_test_slot.slot_start_date|date:"d M Y م h:i A" }} - ({{ tarifi_data.english_placement_test_slot.location }})</span>
				</td>
			</tr>
			{% endif %}

			{% if tarifi_data.english_speaking_test_slot %}
			<tr style="border-bottom:double">
				<td>
				الاختبار الشفهي:
				</td>
				<td>
					<span style="direction: ltr">{{ tarifi_data.english_speaking_test_slot.slot_start_date|date:"d M Y م" }} {{ tarifi_data.english_speaking_test_start_time|date:"h:i A" }} - ({{ tarifi_data.english_speaking_test_slot.location }})</span>
				</td>
			</tr>
			{% endif %}

			{% if issues %}
			<tr>
				<td>
					الملاحظات :
				</td>
				<td>
					{{ issues }}
				</td>
			</tr>
			{% endif %}
		</table>
		<br><br>
		<h3>مواعيد أخرى هامة</h3>
		<hr>
		<ul>

			<li><b>حضور لقاء معالي مدير الجامعة</b>: الثلاثاء 26 ذوالحجة 1440هـ الموافق 27 أغسطس 2019م - الساعة 12:15 ظهراً (قاعة مبنى 70).
			</li>
			<li><b>حضور اللقاء المفتوح مع مسؤولي عمادة شؤون الطلاب وعمادة القبول والتسجيل وبرنامج السنة
				التحضيرية</b>: الأربعاء 27 ذوالحجة 1440هـ الموافق 28 أغسطس 2019م - الساعة 12:15 ظهراً
				(قاعة مبنى 70).
			</li>
			<li><b>استلام الكتب الدراسية</b>: السبت 1 محرم 1440هـ الموافق 31 أغسطس 2019م (مبنى57).</li>
		</ul>
		<br>
	</div>
</div>
</body>
</html>
