{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="col-lg-4">
          {% blocktrans %}
           <h4>FAQs</h4>
          - <a href="#">Should I take the SAT Subject test?</a><br>
          - <a href="#">What about additional evaluators?</a><br>
          - <a href="#">What are the guidelines for home-schooled applicants?</a><br><br>
          <i class="fa fa-arrow-circle-right"></i> <a href="#">Read more</a>
          <br><br>
          <h4>Need Help?</h4>
          Call Admissions Office<br>
          <strong>Phone:</strong> +966 (13) 860 2901<br>
          <strong>Fax:</strong> +966 (13) 860 2722<br>
          <strong>Email:</strong> <a href="mailto:admissions@kfupm.edu.sa">admissions@kfupm.edu.sa</a><br>
          <strong>Website:</strong> <a href="http://www.kfupm.edu.sa/admissions">www.kfupm.edu.sa/admissions</a>
           {% endblocktrans %}
       </div>
       <div class="col-lg-7 pull-right">
           {% block subcontent %}
           {% endblock subcontent %}
       </div>
    </div>
 </div>
{% endblock content %}