{% extends base_extend %}
{% load staticfiles %}
{% load i18n %}
{% load floppyforms %}

{% block subcontent %}
	{% if re_upload %}
		<div class="alert alert-warning" role="alert">
			{% blocktrans %}
				<strong>Important Note:</strong>
				<ul>
					<li>Please upload a recent picture (with the Saudi thobe -- white background -- no glasses).
						Check the
						<a href="http://www.kfupm.edu.sa/departments/admissions/SitePages/ar/Qabool/egPersonal.jpg">example</a>...
					</li>
					<li>Please upload clear scanned images with good quality.</li>
					<li>Allowed formats: jpg, jpeg, png, bmp, gif.</li>
					<li>Mobile-taken pictures will not be accepted.</li>
				</ul>
			{% endblocktrans %}
		</div>
		<br>
		<div class="form-uploads">
			<form method="post" class="form-horizontal" enctype="multipart/form-data">
				{% csrf_token %}
				{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
			</form>
		</div>

		{% if form.instance.personal_picture %}
			<div class="row" style="margin-top: 20px">
				<div class="col-sm-4 col-md-3 smart-card-div">
					<img src="{% url 'download_user_file' 'personal_picture' user.id %}" class="thumbnail">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<a href="{% url 'student_area' %}" class="btn btn-primary pull-left">
					{% trans 'Done Uploading Picture' %}</a>
			</div>
		{% endif %}

		<!-- MODAL TO CROP THE IMAGE -->
		<div class="modal fade" id="modalCrop">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{% trans 'Crop the photo' %}</h4>
					</div>
					<div class="modal-body">
						<img src="" id="image" style="max-width: 100%;">
					</div>
					<div class="modal-footer">
						<div class="btn-group pull-left" role="group">
							<button type="button" class="btn btn-default js-zoom-in">
								<span class="glyphicon glyphicon-zoom-in"></span>
							</button>
							<button type="button" class="btn btn-default js-zoom-out">
								<span class="glyphicon glyphicon-zoom-out"></span>
							</button>
						</div>
						<button type="button" class="btn btn-default js-rotate-right">{% trans 'Rot-right' %}</button>
						<button type="button" class="btn btn-default js-rotate-left">{% trans 'Rot-left' %}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
						<button type="button" class="btn btn-primary js-crop-and-upload" data-dismiss="modal">{% trans 'Crop and upload' %}</button>
					</div>
				</div>
			</div>
		</div>
	{% else %}
		{{ block.super }}
	{% endif %}
{% endblock subcontent %}

{% block form %}
	{% if not re_upload %}
		<div class="alert alert-warning" role="alert">
			{% blocktrans %}
				<strong>Important Note:</strong>
				<ul>
					<li>Please upload a recent picture (with the Saudi thobe -- white background -- no glasses).
						Check the
						<a href="http://www.kfupm.edu.sa/departments/admissions/SitePages/ar/Qabool/egPersonal.jpg">example</a>...
					</li>
					<li>Please upload clear scanned images with good quality.</li>
					<li>Allowed formats: jpg, jpeg, png, bmp, gif.</li>
					<li>Mobile-taken pictures will not be accepted.</li>
				</ul>
			{% endblocktrans %}
		</div>
		<br>
		<div class="form-uploads">
			{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
		</div>

		{% if form.instance.personal_picture %}
			<div class="row" style="margin-top: 20px">
				<div class="col-sm-4 col-md-3 smart-card-div">
					<img src="{% url 'download_user_file' 'personal_picture' user.id %}" class="thumbnail">
				</div>
			</div>
			<div class="row" style="margin-top: 20px">
				<a href="{% url 'upload_documents' %}?f=t" class="btn btn-primary pull-left">
					{% trans 'Save and Next' %}</a>
			</div>
		{% endif %}

		<!-- MODAL TO CROP THE IMAGE -->
		<div class="modal fade" id="modalCrop">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">{% trans 'Crop the photo' %}</h4>
					</div>
					<div class="modal-body">
						<img src="" id="image" style="max-width: 100%;">
					</div>
					<div class="modal-footer">
						<div class="btn-group pull-left" role="group">
							<button type="button" class="btn btn-default js-zoom-in">
								<span class="glyphicon glyphicon-zoom-in"></span>
							</button>
							<button type="button" class="btn btn-default js-zoom-out">
								<span class="glyphicon glyphicon-zoom-out"></span>
							</button>
						</div>
						<button type="button" class="btn btn-default js-rotate-right">{% trans 'Rot-right' %}</button>
						<button type="button" class="btn btn-default js-rotate-left">{% trans 'Rot-left' %}</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
						<button type="button" class="btn btn-primary js-crop-and-upload" data-dismiss="modal">{% trans 'Crop and upload' %}</button>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endblock form %}


{% block scripts %}
	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
	<script src="{% static 'js/cropper.min.js' %}"></script>
	<script src="{% static 'js/custom-crop.js' %}"></script>
	<script type="application/javascript">
		$(function () {
			/* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
			$(".js-crop-and-upload").click(function () {
				cropData();
				$("form").submit();
			});
		});
	</script>
{% endblock %}