{% extends 'undergraduate_admission/phase2/form.html' %}
{% load staticfiles %}
{% load i18n %}
{% load floppyforms %}

{% block form-notes %}
	<div class="alert alert-warning" role="alert">
		{% blocktrans %}
			<strong>Important Note:</strong>
			<ul>
				<li>Please upload a recent picture (with the Saudi thobe -- white background -- no glasses).
					Check the <a href="http://www.kfupm.edu.sa/departments/admissions/SitePages/ar/Qabool/egPersonal.jpg">example</a>...</li>
				<li>Please upload clear scanned images with good quality.</li>
				<li>Allowed formats: jpg, jpeg, png, bmp, gif.</li>
				<li>Mobile-taken pictures will not be accepted.</li>
			</ul>
		{% endblocktrans %}
	</div>
{% endblock form-notes %}

{% block form %}
	<div class="form-uploads">
		{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
	</div>

	{% if form.instance.personal_picture %}
		<div class="row" style="margin-top: 20px">
			<div class="col-sm-4 col-md-3 smart-card-div">
				<img src="{% url 'download_user_file' 'personal_picture' user.id %}" class="thumbnail">
			</div>
		</div>
		<div class="row" style="margin-top: 20px">
			<a href="{% url 'upload_documents' %}?f=t" class="btn btn-primary pull-left">
				{% trans 'Save and Next' %}</a>
		</div>
	{% endif %}

	<!-- MODAL TO CROP THE IMAGE -->
	<div class="modal fade" id="modalCrop">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans 'Crop the photo' %}</h4>
				</div>
				<div class="modal-body">
					<img src="" id="image" style="max-width: 100%;">
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-left" role="group">
						<button type="button" class="btn btn-default js-zoom-in">
							<span class="glyphicon glyphicon-zoom-in"></span>
						</button>
						<button type="button" class="btn btn-default js-zoom-out">
							<span class="glyphicon glyphicon-zoom-out"></span>
						</button>
					</div>
					<button type="button" class="btn btn-default js-rotate-right">{% trans 'Rot-right' %}</button>
					<button type="button" class="btn btn-default js-rotate-left">{% trans 'Rot-left' %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-primary js-crop-and-upload">{% trans 'Crop and upload' %}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock form %}


{% block scripts %}
	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
	<script src="{% static 'js/cropper.min.js' %}"></script>
	<script type="application/javascript">
		$(function () {
			$("input[type=submit]").hide();

			/* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
			$("#id_personal_picture").change(function () {
				if (this.files && this.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						$("#image").attr("src", e.target.result);
						$("#modalCrop").modal("show");
					}
					reader.readAsDataURL(this.files[0]);
				}
			});

			/* SCRIPTS TO HANDLE THE CROPPER BOX */
			var $image = $("#image");
			var cropBoxData;
			var canvasData;
			$("#modalCrop").on("shown.bs.modal", function () {
				$(".modal .modal-body").css('overflow-y', 'auto');
                $(".modal .modal-body").css('max-height', $(window).height() * 0.8);
				$('.modal .modal-body').css('height', $(window).height() * 0.8);

				$image.cropper({
					viewMode: 1,
					aspectRatio: 4 / 5,
					minCropBoxWidth: 200,
					minCropBoxHeight: 200,
					ready: function () {
						$image.cropper("setCanvasData", canvasData);
						$image.cropper("setCropBoxData", cropBoxData);
					}
				});
			}).on("hidden.bs.modal", function () {
				cropBoxData = $image.cropper("getCropBoxData");
				canvasData = $image.cropper("getCanvasData");
				$image.cropper("destroy");
			});

			$(".js-zoom-in").click(function () {
				$image.cropper("zoom", 0.1);
			});

			$(".js-zoom-out").click(function () {
				$image.cropper("zoom", -0.1);
			});

			$(".js-rotate-right").click(function () {
				$image.cropper("rotate", 3);
			});

			$(".js-rotate-left").click(function () {
				$image.cropper("rotate", -3);
			});

			/* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
			$(".js-crop-and-upload").click(function () {
				cropData();
				$("form").submit();
			});

		});

		function cropData() {
			var $image = $("#image");
{#			var cropData = $image.cropper("getData");#}
			var cropDataURI = $image.cropper('getCroppedCanvas').toDataURL('image/jpeg', 0.9);//("getDataURL", "image/jpeg");
			$("#id_data_uri").val(cropDataURI);
		}
	</script>
{% endblock %}