{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Undergraduate Admission | King Fahd University of Petroleum &amp;Minerals</title>
	<link rel="icon" href="images/favicon.png">
	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<!-- Custom CSS -->
	<link href="css/rtl.css" rel="stylesheet">
	<style media="print">
		.noprint{
		display:none!important;
		}
		.ftr-fixed-btm{
		position:fixed;
		bottom:0px;
		}
	</style>
</head>
<body>
<div class="container-fluid noprint">
	<div class="row">
		<div class="col-lg-12"><br>
			<a class="btn btn-success btn-lg" style="font-family:Arial, Helvetica, sans-serif;" href="#" role="button" onclick="window.print();">{% trans 'Print' %}
				<i class="fa fa-print" aria-hidden="true"></i> </a>
			<a class="btn btn-default btn-lg" style="font-family:Arial, Helvetica, sans-serif;" href="{% url 'student_area' %}" role="button">{% trans 'Go Back' %}</a>
		</div>
	</div>
	<hr>
</div>
<table width="1000" border="0" cellspacing="0" cellpadding="0" align="center">
	<tr>
		<td colspan="3" align="center" valign="top"><img src="{% static 'images/letter-head.jpg' %}"></td>
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top"><h3>كشف طبي</h3></td>
	</tr>
	<tr>
		<td align="right" valign="top">&nbsp;</td>
		<td valign="top">&nbsp;</td>
		<td align="right" valign="top">&nbsp;</td>
	</tr>
	<tr>
		<td width="626" align="right" valign="top"><strong>اسم الطالب:</strong></td>
		<td width="53" valign="top">&nbsp;</td>
		<td width="621" align="right" valign="top"><strong>:الرقم الجامعي:</strong></td>
	</tr>
	<tr>
		<td colspan="3">&nbsp;</td>
	</tr>
	<tr>
		<td align="right" valign="top">سعادة مدير مستشفى / مستوصف الموقر<br>
			السلام عليكم ورحمة الله وبركاته – وبعد <br>
			نأمل إجراء الفحوص الطبية اللازمة للطالب الموضح اسمه أعلاه
		</td>
		<td>&nbsp;</td>
		<td align="left" valign="top">الموقر</td>
	</tr>
	<tr>
		<td align="center" valign="top">&nbsp;</td>
		<td>&nbsp;</td>
		<td align="left" valign="middle">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top"><img class="img-responsive" src="{% static 'images/form.png' %}" width="100%"/>
		</td>
	</tr>
	<tr>
		<td align="center" valign="top">&nbsp;</td>
		<td>&nbsp;</td>
		<td align="left" valign="middle">&nbsp;</td>
	</tr>
	<tr>
		<td align="right" valign="top">المكرم مدير عام القبول بجامعة الملك فهد للبترول والمعادن <br>
			السلام عليكم ورحمة الله وبركاته – بعد
		</td>
		<td>&nbsp;</td>
		<td align="left" valign="middle">الموقر</td>
	</tr>
	<tr>
		<td height="38" align="right" valign="top">أعيد إليكم التقرير الطبي. ولدى الكشف على الطالب /</td>
		<td>&nbsp;</td>
		<td align="left" valign="top">اتضح أنه</td>
	</tr>
	<tr>
		<td align="right" valign="top">
			<div class="checkbox">
				<label>
					<input type="checkbox"> سليم
				</label>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> يحتاج إلى رعاية طبية
				</label>
			</div>
		</td>
		<td align="right" valign="top">&nbsp;</td>
		<td align="right" valign="top">
			<strong>مدير المستشفى / المتستوصف</strong><br>
			الاسم: ......................................................................<br>
			التوقيع: ....................................................................<br>
			التاريخ: ....................................................................
		</td>
	</tr>
	<tr>
		<td align="right" valign="top">&nbsp;</td>
		<td align="right" valign="top">&nbsp;</td>
		<td align="center" valign="top"><img width="200" src="{% static 'images/withdrawletter-signature.jpg' %}"/></td>
	</tr>
	<tr>
		<td colspan="3" align="center" valign="top"><img class="img-responsive" src="{% static 'images/letter-footer.jpg' %}"></td>
	</tr>
</table>

</body>
</html>