{% load i18n staticfiles %}
{#['R', 'W1', 'W2', 'E']#}
<tr class="{% if request.status == 'A' %}success{% elif request.status == 'P' %}warning{% else %}danger{% endif %}">
	<td>
		<table>
			<tr>
				<td style="width: 25%"><strong>{% trans 'Roommate' %}</strong></td>
				<td>
					{% if request.requesting_user != admission_request %}
						{{ request.requesting_user }}
					{% else %}
						{{ request.requested_user }}
					{% endif %}
				</td>
				<td><strong>{% trans 'Status' %}</strong></td>
				<td>{{ request.get_status_display }}</td>
			</tr>
			<tr>
				<td><strong>{% trans 'Request Date' %}</strong></td>
				<td>{{ request.request_date }}</td>
				<td><strong>{% trans 'Updated On' %}</strong></td>
				<td>{{ request.updated_on|timesince }}</td>
			</tr>
			<tr>
				<td colspan="2"></td>
				{% if request.status == 'A' %}
					<td><strong>{% trans 'Assigned Room' %}</strong></td>
					<td>{{ request.assigned_room }}</td>
				{% elif request.status == 'P' and request.requesting_user != admission_request %}
					<td><a onclick="return confirm('{% trans "Are you sure?" %}');"
					       class="btn btn-success btn-block"
					       href="{% url 'find_roommate:accept_request' request.pk %}">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						{% trans 'Accept' %}</a></td>
					<td><a onclick="return confirm('{% trans "Are you sure?" %}');"
					       class="btn btn-danger btn-block"
					       href="{% url 'find_roommate:reject_request' request.pk %}">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						{% trans 'Reject' %}</a></td>
 				{% elif request.status == 'P' and request.requesting_user == admission_request %}
					<td></td>
					<td><a onclick="return confirm('{% trans "Are you sure?" %}');"
					       class="btn btn-danger btn-block"
					       href="{% url 'find_roommate:cancel_request' request.pk %}">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
						{% trans 'Cancel' %}</a></td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			</tr>
			{% if request.status == 'A' %}
				<tr>
					<td>{% trans 'Kindly print two copies of each of the following documents: ' %}</td>
					<td colspan="3">
						<a target="_blank" class="btn btn-primary btn-lg" href="{% url 'find_roommate:housing_letter1' %}">
							<i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;{% trans 'Housing Letter 1' %}</a>&nbsp;&nbsp;
						<a target="_blank" class="btn btn-primary btn-lg" href="{% url 'find_roommate:housing_letter2' %}">
							<i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;{% trans 'Housing Letter 2' %}</a>
						<a target="_blank" class="btn btn-primary btn-lg" href="{% url 'find_roommate:housing_letter3' %}">
{#						   href="{% static 'pdf/housing_agreement.pdf' %}">#}
							<i class="fa fa-sticky-note" aria-hidden="true"></i>&nbsp;{% trans 'Housing Letter 3' %}</a>
					</td>
				</tr>
			{% endif %}
		</table>
	</td>
</tr>
