{% extends 'base_student_area.html' %}
{% load i18n %}
{% load staticfiles %}

{% block subcontent %}

	{% if messages %}
	<div class="messages">
	    {% for message in messages %}
	    <div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
	    {% endfor %}
	</div>
	{% endif %}
	{{ block.super }}
{% endblock subcontent %}

{% block scripts %}
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
{#	<script type="application/javascript">#}
{#		$(function () {#}
{#			$(".ug-logo").find("a").html('<img class="img-responsive" ' +#}
{#					'src="{% static 'images/ar-student-housing-logo.png' %}" ' +#}
{#					'alt="KFUPM Undergraduate Housing" width="100%">');#}
{#		});#}
{#	</script>#}
{% endblock scripts %}

{% block styles %}

{% endblock styles %}