{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block subcontent %}
	<p class="lead">
		<strong>{% if is_search %}
			{% trans 'No of search results:' %}
		{% else %}
			{% trans 'No of single students looking for a roommate:' %}
		{% endif %}</strong>
		&nbsp;&nbsp;{{ students_count }}
	</p>
	<hr>
	<div>
		<h4>{% trans 'Search' %}</h4><br>
		<div class="alert alert-info" role="alert">
			<p>{% trans 'You can search with one or more criteria using the below form' %}</p>
		</div>
		<br>
		<form id="searchfovrm" method="get" accept-charset="utf-8" class="form-horizontal">
			{% crispy form %}
			<div class="subBtn">
				<br>
				<button class="searchbutton btn btn-primary btn-lg {% trans 'btn-align' %}"
				        type="submit">
					<i class="fa fa-search"></i> {% trans 'Search' %}
				</button>
			</div>
		</form>
	</div>

	<br><br><br>

	{% if page_obj %}
		<div class="alert alert-warning" role="alert">
			<p>{% trans 'Check this page regularly if you did not find a suitable roomate from the list below' %}</p>
		</div>

		{% for student in page_obj %}
			<table cellpadding="10" cellspacing="10">
				<tr>
					<td colspan="3">
						<h4>{{ student.user }}&nbsp;&nbsp;
							<small>{{ student.user.high_school_city }}-
								{{ student.user.high_school_name }}</small>
						</h4>
					</td>
				</tr>
				<tr>
					<td style="width:33%">
						<img width="250px" class="img-responsive img-thumbnail"
						     src="{% url 'undergraduate_admission:download_user_file' 'personal_picture' student.user.id %}">
					</td>
					<td>&nbsp;&nbsp;</td>
					<td style="width: 67%; vertical-align: top">
						<table style="border-spacing: 15px;border-collapse: separate;" style="width: 100%;">
							<tr>
								<td width="50%"><a><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;
									{{ student.user.mobile }}</a></td>
								<td width="50%"><b>{% trans 'Sleeping' %}:</b>&nbsp;{{ student.sleeping }}</td>
							</tr>
							<tr>
								<td><a href="mailto:{{ student.user.email }}">
									<i class="fa fa-send" aria-hidden="true"></i>&nbsp;{{ student.user.email }}</a></td>
								<td><b>{% trans 'Light' %}:</b>&nbsp;{{ student.light }}</td>
							</tr>
							<tr>
								<td><a href="{{ student.facebook }}"><i class="fa fa-facebook" aria-hidden="true"></i>
									&nbsp;{% trans 'Facebook' %}</a></td>
								<td><b>{% trans 'Room Temperature' %}:</b>&nbsp;{{ student.room_temperature }}</td>
							</tr>
							<tr>
								<td><a href="{{ student.twitter }}"><i class="fa fa-twitter" aria-hidden="true"></i>
									&nbsp;{% trans 'Twitter' %}</a></td>
								<td><b>{% trans 'Visits' %}:</b>&nbsp;{{ student.visits }}</td>
							</tr>
						</table>
					</td>
				</tr>
				{% if student.interests_and_hobbies %}
					<tr>
						<td colspan="3">
							<br>
							<b>{% trans 'Interests And Hobbies' %}:</b> {{ student.interests_and_hobbies }}
						</td>
					</tr>
				{% endif %}
				{% if student.user == user %}
					<tr>
						<td colspan="3">
						<br>
							<span class="glyphicon glyphicon-pushpin"></span>&nbsp;
							{% trans 'Update your own Info ' %}:
							&nbsp;
							<a class="btn btn-primary" href="{% url 'find_roommate:housing_info_update' %}">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
								&nbsp;
								{% trans 'Here' %}
							</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="3">
						<br>
							<span class="glyphicon glyphicon-pushpin"></span>&nbsp;
							{% trans 'If you would like to be roommates with this student, contact him and get his KFUPM ID and ' %}:
							&nbsp;
							<a class="btn btn-primary" href="{% url 'find_roommate:roommate_request' %}">
								<span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
								&nbsp;
								{% trans 'Request Here' %}
							</a>
						</td>
					</tr>
				{% endif %}
			</table>
			<hr>
		{% endfor %}
		{% if page_obj.has_other_pages %}
			<nav aria-label="Page navigation">
				<ul class="pagination">
					{% if page_obj.has_previous %}
						<li>
							<a href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>&nbsp;{% trans 'Previous' %}</a>
						</li>
					{% endif %}
					<li>
						<a><span class="current">
			            {% trans 'Page' %} {{ page_obj.number }} {% trans 'of' %}
						{{ page_obj.paginator.num_pages }}
			        </span></a>
					</li>
					{% if page_obj.has_next %}
						<li>
							<a aria-label="Next" href="?page={{ page_obj.next_page_number }}">
								<span aria-hidden="true">&raquo;</span>&nbsp;{% trans 'Next' %}</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		{% endif %}
		<br>
	{% else %}
		<div class="alert alert-warning" role="alert">
			<p>{% trans 'There are no available students matching your search criteria. Check this page later...' %}</p>
		</div>
	{% endif %}
{% endblock subcontent %}