{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load markdown_deux_tags %}

{% block subcontent %}
    {{ agreement.agreement|markdown|linebreaks }}
	<br><br>

	{{ block.super }}

	{% if form.errors %}
	<div class="alert alert-danger" role="alert">{{ form.errors }}</div>
	{% endif %}
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		{{ form.searchable|as_crispy_field }}
		<div class="form_update">
			{{ form.twitter|as_crispy_field }}
			{{ form.facebook|as_crispy_field }}
			{{ form.sleeping|as_crispy_field }}
			{{ form.light|as_crispy_field }}
			{{ form.room_temperature|as_crispy_field }}
			{{ form.visits|as_crispy_field }}
			{{ form.interests_and_hobbies|as_crispy_field }}
			{{ form.agree1|as_crispy_field }}
			{{ form.agree2|as_crispy_field }}
			{{ form.agree3|as_crispy_field }}
		</div>
		<br>&nbsp;<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Save' %}"/>
	</form>

	<br><br><br>
	<hr>
{% endblock subcontent %}