{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load floppyforms %}
{% load staticfiles %}

{% block subcontent %}
	{{ agreement.agreement_header|linebreaks }}
	<br>
	<ul>
		{% for item in items %}
			<li>{{ item|safe|linebreaks }}</li>
		{% endfor %}
	</ul>

	<br><br><br>

	{{ block.super }}

	{% if form.errors %}
	<div class="alert alert-danger" role="alert">{{ form.errors }}</div>
	{% endif %}
	<form method="post" class="form-horizontal">
		{% form form using %}
		{% csrf_token %}
		{% formconfig row using "floppyforms/rows/bootstrap3-horizontal.html" %}
		{% formrow form.searchable %}
		<div class="form_update">
			{% formrow form.twitter form.facebook form.sleeping form.light form.room_temperature %}
			{% formrow form.visits form.interests_and_hobbies %}
			{% formconfig row using "floppyforms/rows/bootstrap3-horizontal-checkboxes.html" %}
			{% formrow form.agree1 form.agree2 form.agree3 %}
		</div>
		<br>&nbsp;<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Save' %}"/>
		{% endform %}
	</form>

	<br><br><br>
	<hr>
{% endblock subcontent %}