{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load staticfiles %}

{% block subcontent %}
	{{ block.super }}
	{% if can_make_a_new_request %}
		<h4>{% trans 'welcome to KFUPM Student Housing page' %}</h4>
		<hr>
		<h4>
			{% trans 'Do you have a friend who is admitted and eligible for housing that you want to be roommmates with?' %}
		</h4>
		<br><br>
		<div class="row">
			<div class="col-sm-4">
				<a href="{% url 'roommate_request' %}">
					<div class="jumbotron">
						<h4 style="text-align: center">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>&nbsp;{% trans 'Yes' %}
						</h4>
					</div>
				</a>
			</div>
			<div class="col-sm-1">

			</div>
			<div class="col-sm-4">
				<a href="{% url 'housing_info_update' %}">
					<div class="jumbotron">
						<h4 style="text-align: center">
							<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;{% trans 'No' %}
						</h4>
					</div>
				</a>
			</div>
		</div>
	{% endif %}
		<div class="hreqs">
			{% if sent_requests %}
				<h4>{% trans 'Sent Requests' %}</h4>
				<hr><br>
				<table class="table">
					{% for request in sent_requests %}
						{% include 'find_roommate/__request.html' %}
					{% endfor %}
				</table>
			{% endif %}
			<br><br>
			{% if received_requests %}
				<h4>{% trans 'Received Requests' %}</h4>
				<hr><br>
				<table class="table">
					{% for request in received_requests %}
						{% include 'find_roommate/__request.html' %}
					{% endfor %}
				</table>
			{% endif %}
		</div>

{% endblock subcontent %}