{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Undergraduate Admission | King Fahd University of Petroleum &amp;Minerals</title>
	<link rel="icon" href="images/favicon.png">
	<!-- Bootstrap Core CSS -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	<!-- Custom CSS -->
	<link href="{% static 'css/rtl.css' %}" rel="stylesheet">
	<style media="print">
		* {
			font-size: 90% !important;
		}

		.noprint {
			display: none !important;
		}

		.ftr-fixed-btm {
			position: fixed;
			bottom: 0px;
		}
	</style>
</head>
<body>
<div class="container-fluid noprint">
	<div class="row">
		<div class="col-lg-12"><br>
			<a class="btn btn-success btn-lg" style="font-family:Arial, Helvetica, sans-serif;" href="#" role="button" onclick="window.print();">{% trans 'Print' %}
				<i class="fa fa-print" aria-hidden="true"></i> </a>
			<a class="btn btn-default btn-lg" style="font-family:Arial, Helvetica, sans-serif;" href="{% url 'student_area' %}" role="button">{% trans 'Go Back' %}</a>
		</div>
	</div>
	<hr>
</div>
<img style="width: 80%; margin: 0 auto" class="img-responsive" src="{% static 'images/housing_hdr.jpg' %}">
<center>
	<h4>‫( تـعــهـــد‬ و ‫إقـرار‬ )‬</h4>
</center>
<div width=45% style="text-align:right;">التاريخ :</div>
<br/>
<div><strong>{% trans 'Dear Student' %}/</strong> {{ user.get_student_full_name }}</div>
<div>
	{% if user.kfupm_id %}
		<strong>{% trans 'KFUPM ID' %} /</strong> {{ user.kfupm_id }}
	{% else %}
		<strong style="color:red">ERROR: You do NOT have an ID. Contact admins about this ASAP</strong>
	{% endif %}
</div>

<div width=45% style="text-align:right;"><strong>رقم الغرفة – العمارة /</strong> {{ assigned_room }}</div>
<br/>


<strong>أقر أنا الطالب الموقع أدناه بأننـي اطلعــت علــى لائحـة مخالفـات سكـــن الطـلاب وقـمـت بوضـع إشــارة &#9745; في المكـــان المخصــص.
	كما أتعهد بالإلتزام بهذه اللائحة وعلى هذا أوقع / ...........................................</strong>
<hr>
<table border="1" cellspacing="0" cellpadding="0" align="center">
	<tbody>
	<tr>
		<td>نـــــــوع المخالفـــــــة</td>
		<td>
			العقوبة المترتبة عليها
		</td>
	</tr>
	<tr>
		<td><span style="font-size:140%">&#9744;</span>&nbsp;<strong>مخالفات متعلقة بالأنظمة</strong><br>
			- قيام الطالب بما يتنافى مع التعاليم الإسلامية والأنظمة.<br>

			- السماح لشخص من منسوبي الجامعة أو غيرهم بالاستفادة من الغرفة بطريقةغيرنظامية.
		</td>
		<td>
			الحرمان من السكن والإحالة إلى لجنة شؤون الطلاب.<br>

			طلاب المنح الخارجية : الحرمان من السكن يترتب عليه الحرمان من الدراسة وإلغاء المنحة
		</td>
	</tr>
	<tr>
		<td><span style="font-size:140%">&#9744;</span>&nbsp;<strong>مخالفات متعلقة بالصحة والسلامة</strong><br>
			 -  العبث بحساس الدخان وأجهزة الطوارئ الموجودة في الغرفة أو المبنى.<br>

-  استعمال مايثير حساس الدخان مثل السجائر الإلكترونية<br>

-  حيازة السوائل والمواد القابلة للاشتعال.<br>

-   اقتناء مواقد الطبخ والسخانات والأفران والدفايات بكافة أنواعها.<br>

-  اقتناء الشيشة بجميع أنواعها بما فيها الشيشة الإلكترونية والمعسل ونحوها.<br>

-  اقتناء طبق أو جهاز استقبال قنوات فضائية غير المعتمد من الجامعة.<br>
		</td>
		<td>
الحرمان من السكن والإحالة إلى لجنة شؤون الطلاب ومصادرة المضبوط.<br>

طلاب المنح الخارجية : الحرمان من السكن يترتب عليه الحرمان من الدراسة وإلغاء المنحة.
		</td>
	</tr>
	<tr>
		<td><span style="font-size:140%">&#9744;</span>&nbsp;<strong>مخالفات متعلقة بالصحة والسلامة</strong><br>
			-   اقتناء توصيلات أو أجهزة أو محولات كهربائية غير آمنة أو غير معتمدة.<br>

-  اقتناء مايثير حساس الدخان مثل السجائر الإلكترونية .<br>

-  اقتناء المباخر و الفواحات بكافة أنواعها .<br>

-  اقتناء حيوانات أو دواجن أو طيور أو أحواض أسماك الزينة.
		</td>
		<td>
المخالفة الأولى : المصادرة مع التعهد والإحالة إلى لجنة شؤون الطلاب.<br>

المخالفة الثانية : الحرمان من السكن والإحالة إلى لجنة شؤون الطلاب.
		</td>
	</tr>
	<tr>
		<td><span style="font-size:140%">&#9744;</span>&nbsp;<strong>مخالفات متعلقة بالتلفيات وسوء الاستخدام وحماية الممتلكات</strong><br>
-  إتلاف أو تغيير معالم الغرفة.<br>

-  فك أو إخراج أو إتلاف أثاث الغرفة.<br>

-  إساءة استخدام المرافق العامة.<br>

-  ترك باب الغرفة مفتوحاً أثناء غياب أصحابها.
		</td>
		<td>
المخــالفـــة الأولــى : التعـــهــد مع الغرامة والإحالــة إلى لجنـــة شؤون الطلاب.<br>

المخالفة الثانية : الحرمان من السكن والإحالة إلى لجنة شؤون الطلاب.
		</td>
	</tr>
	<tr>
		<td><span style="font-size:140%">&#9744;</span>&nbsp;<strong>مخالفات متعلقة بإزعاج الآخرين</strong><br>

		</td>
		<td>
المخالفـة الأولى: التهعد بعدم إزعاج الآخرين وإزالة الأداة مصدر الإزعاج.<br>

المخالفة الثانية : الحرمان من السكن ومصادرة الأداة مصدر الإزعاج والإحالة إلى لجنة شؤون الطلاب.
		</td>
	</tr>
	<tr>
		<td colspan="2"><strong>الإحالة إلى لجنة شؤون الطلاب تعني تقييم المخالفة واتخاذ العقوبات الملائمة التي قد تصل إلى الحرمان من الدراسة.</strong></td>
	</tr>
	</tbody>
</table>
<br/>
<strong>مــلاحظــة:</strong>
<ul>
	<li>في حالة وجود مخالفات غير مدونة في اللائحة أو في دليل الطالب، يتم إحالة الأمر إلى لجنة شؤون الطلاب لاتخاذ ما تراه مناسباً وفقاً للنظام.</li>
	<li>يحق لإسكان الطلاب واللجنة التفقدية تصوير المخالفات والملاحظات عند الحاجة.</li>
</ul>
<br/><br><br>
<table width=100% dir=rtl style="font-size:small">
	<tr>
		<td align="center">ص.ب 1404 - الظهران 31261 - المملكة العربية السعودية <br/>
			هاتف 2923-860 (03) - فاكس 1327-860 (03)
		</td>
		<td align="center">stufund@kfupm.edu.sa <br/>http://www.kfupm.edu.sa/studentaffairs</td>
		<td align="center">P.O.Box 1404 - Dhahran 31261 Saudi Arabia <br/>Phone (03) 860-2923 - Fax (03) 860-1327</td>
	</tr>
</table>
</body>
</html>