{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load floppyforms %}
{% load staticfiles %}

{% block subcontent %}
	{{ block.super }}
	{{ agreement.agreement_header|linebreaks }}
	<br>
	<ul>
		{% for item in items %}
			<li>{{ item|safe|linebreaks }}</li>
		{% endfor %}
	</ul>
	<br>&nbsp;<br>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">{{ form.errors }}</div>
	{% endif %}
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		{{ form }}
		<br>&nbsp;<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Send Request' %}"/>
	</form>

	<br><br><br>
	<hr>
{% endblock subcontent %}