{% extends 'find_roommate/base_housing.html' %}
{% load i18n %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}

{% block subcontent %}
	{{ block.super }}
    {{ agreement.agreement|markdown|linebreaks }}
	<br>
	{% if form.errors %}
		<div class="alert alert-danger" role="alert">{{ form.errors }}</div>
	{% endif %}
	<form method="post" class="form-horizontal">
		{% csrf_token %}
		<div class="checkbox form-group">
            <span style="color:red">{{ form.agree1.errors }}</span>
            <label for="{{ form.agree1.id_for_label }}" class="col-sm-12">
                {{ form.agree1 }}&nbsp;{{ form.agree1.label }}
            </label>
        </div>

        <div class="checkbox form-group">
            <span style="color:red">{{ form.agree1.errors }}</span>
            <label for="{{ form.agree2.id_for_label }}" class="col-sm-12">
                {{ form.agree2 }}&nbsp;{{ form.agree2.label }}
            </label>
        </div>
		<br>&nbsp;<br>
		{{ form.gov_id_or_kfupm_id|as_crispy_field }}
		<br>&nbsp;<br>
		<input type="submit" class="btn btn-primary {% trans 'btn-align' %}" value="{% trans 'Send Request' %}"/>
	</form>

	<br><br><br>
	<hr>
{% endblock subcontent %}
