{% load i18n %}

<div class="panel panel-default">
	<div class="panel-body">
		<h4>{{ user }}</h4>
		<dl>
			<dt>{% trans 'Username' %}</dt>
			<dd>{{ username }}</dd>
			<dt>{% trans 'Superuser' %}</dt>
			<dd>{{ is_superuser }}</dd>
			{% if groups %}
				<dt>{% trans 'Groups' %}</dt>
				<dd>{% for group in groups %}<span class="label label-primary">{{ group }}</span><br>{% endfor %}</dd>
			{% endif %}
		</dl>
	</div>
</div>
<div class="list-group">
	{% if is_verifier %}
		<a href="{% url 'undergraduate_admission:verify_list' %}" class="list-group-item">
			<i class="fa fa-print" aria-hidden="true"></i> {% trans 'Verify Students' %}
		</a>
	{% endif %}
{# TODO: put back #}
{#	{% if is_tarifi_admin %}#}
{#		<a href="{% url 'tarifi:tarifi_landing_page' %}" class="list-group-item">#}
{#			<i class="fa fa-search" aria-hidden="true"></i> {% trans 'Tarifi Reception' %}#}
{#		</a>#}
{#		<a href="{% url 'tarifi:preparation_course_attendance' %}" class="list-group-item">#}
{#			<i class="fa fa-inbox" aria-hidden="true"></i> {% trans 'Preparation Course Attendance' %}#}
{#		</a>#}
{#	{% endif %}#}
	{% if is_superuser %}
		<a href="{% url 'undergraduate_admission:cut_off_point' %}" class="list-group-item">
			<i class="fa fa-user" aria-hidden="true"></i> {% trans 'Cut-off Point' %}
		</a>
		<a href="{% url 'undergraduate_admission:distribute_committee' %}" class="list-group-item">
			<i class="fa fa-table" aria-hidden="true"></i> {% trans 'Distribute' %}
		</a>
	{% endif %}
	<hr>
	<a href="{% url 'logout' %}" class="btn btn-withdraw btn-block"><i class="fa fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}
	</a>
</div>
