{% load i18n %}

<div class="panel panel-default">
	<div class="panel-body">
		<h4>{{ user }}</h4>
		<dl>
			<dt>{% trans 'Username' %}</dt>
			<dd>{{ username }}</dd>
			<dt>{% trans 'Superuser' %}</dt>
			<dd>{{ is_superuser }}</dd>
		</dl>
	</div>
</div>
<div class="list-group">
	<a href="{% url 'verify_list' %}" class="list-group-item"><i class="fa fa-print" aria-hidden="true"></i> {% trans 'Verify Students' %}</a>
	{% if is_superuser %}
		<a href="{% url 'cut_off_point' %}" class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> {% trans 'Cut-off Point' %}</a>
	{% endif %}
	<hr>
	<a href="{% url 'logout' %}" class="btn btn-withdraw btn-block"><i class="fa fa-sign-out" aria-hidden="true"></i> {% trans 'Logout' %}
	</a>
</div>