{% extends "base-sidebar.html" %}
{#{% load bootstrap3 %}#}
{% load i18n %}
{% load floppyforms %}

{% block subcontent %}

	{% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
			{% endfor %}
		</div>
	{% endif %}

	<div class="row">
		<form method="get">
			{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-search"></i> {% trans 'Search' %}</button>
		</form>
	</div>
	{% if students %}
		<div class="row">
			<br><br>
			<h4>{% trans 'Number of students matching search criteria' %}: {{ students|length }}</h4>
			<br><br>
			<table class="table table-striped">
				<tr>
					<th>{% trans 'Student Full Name' %}</th>
					<th>{% trans 'Nationality' %}</th>
					<th>{% trans 'Status' %}</th>
					<th>{% trans 'Student Type' %}</th>
					<th>{% trans 'Admission Total' %}</th>
					<th>{% trans 'Gender' %}</th>
				</tr>
				{% for student in students %}
					<tr>
						<td>{{ student }}</td>
						<td>{{ student.nationality }}</td>
						<td>{{ student.status_message.status }}</td>
						<td>{{ student.student_type }}</td>
						<td>{{ student.admission_total }}</td>
						<td>{{ student.gender }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
	{% endif %}
	<br>
	<hr><br>
	<h4>{% trans 'Choose a status from below list to apply to the students above:' %}</h4>
	<br>
	<div class="row">
		<form method="post">
			{% csrf_token %}
			{% form form2 using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
			<br><br>
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-search"></i> {% trans 'Apply Status' %}</button>
		</form>
	</div>
{% endblock subcontent %}