{% extends 'undergraduate_admission/admin/base_admin_area.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block subcontent %}

	<div class="row">
		<form method="get">
			{% crispy form %}
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-search"></i> {% trans 'Search' %}</button>
		</form>
	</div>
	{% if students %}
		<div class="row">
			<br><br>
			<div class="alert alert-warning">
				<p>{% trans 'Number of students matching search criteria' %}: {{ students_count }}</p>
			</div>
			{% if show_detailed_results %}
				<br><br>
				<table class="table table-striped">
					<tr>
						<th>{% trans 'Student Full Name' %}</th>
						<th>{% trans 'Government ID' %}</th>
						<th>{% trans 'Nationality' %}</th>
						<th>{% trans 'Status' %}</th>
						<th>{% trans 'Student Type' %}</th>
						<th>{% trans 'Admission Total' %}</th>
						<th>{% trans 'Graduation Year' %}</th>
						<th>{% trans 'Gender' %}</th>
						<th>{% trans 'Assigned Committee Member' %}</th>
					</tr>
					{% for student in students %}
						<tr>
							<td>{{ student }}</td>
							<td>{{ student.username }}</td>
							<td>{{ student.nationality }}</td>
							<td>{{ student.status_message.status }}</td>
							<td>{{ student.student_nationality_type }}</td>
							<td>{{ student.admission_percent }}</td>
							<td>{{ student.high_school_graduation_year }}</td>
							<td>{{ student.gender }}</td>
							<td>{{ student.verification_committee_member }}</td>
						</tr>
					{% endfor %}
				</table>
			{% endif %}
		</div>
	{% endif %}
	<br>
	<hr><br>
	<h4>{% trans 'Choose member(s) from the list to distribute the students above:' %}</h4>
	<br>
	<div class="row">
		{% if form2.errors or form2.non_field_errors %}
			{{ form2.errors }}
			{{ form2.non_field_errors }}
			<br><br>
		{% endif %}
		<form method="post">
			{% csrf_token %}
			{% crispy form2 %}
			<br><br>
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-table"></i> {% trans 'Distribute' %}</button>
		</form>
	</div>
{% endblock subcontent %}