{% extends 'undergraduate_admission/admin/base_admin_area.html' %}
{#{% load bootstrap3 %}#}
{% load i18n %}
{% load floppyforms %}

{% block subcontent %}
	<div class="row">
		{% if form.errors or form.non_field_errors %}
			{{ form.errors }}
			{{ form.non_field_errors }}
			<br><br>
		{% endif %}
		<form method="get">
			{% form form using 'floppyforms/layouts/bootstrap3-horizontal.html' %}
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-search"></i> {% trans 'Send SMS' %}</button>
		</form>
	</div>
{% endblock subcontent %}