{% extends 'undergraduate_admission/admin/base_admin_area.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block subcontent %}
	<div class="row">
{#		{% if form.errors or form.non_field_errors %}#}
{#			{{ form.errors }}#}
{#			{{ form.non_field_errors }}#}
{#			<br><br>#}
{#		{% endif %}#}
		<form method="post">
			{% csrf_token %}
			{% crispy form %}
			<button class="btn btn-primary {% trans 'btn-align' %}">
				<i class="fa fa-search"></i> {% trans 'Import Data' %}</button>
		</form>
	</div>
{% endblock subcontent %}