{% extends 'undergraduate_admission/admin/base_admin_area.html' %}
{% load i18n %}
{% load floppyforms %}
{% load staticfiles  %}

{% block subcontent %}
	{{ form.errors }}
	{{ form.non_field_errors }}
	<br><br>
	<form method="post">
		{% csrf_token %}
		{% form form using %}
			<div class="row">
				<div class="col-sm-6">{% formrow form.username using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.mobile using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{% formrow form.nationality using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.saudi_mother using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12"><h4>{{ form.instance.first_name_ar }}&nbsp;{{ form.instance.second_name_ar }}&nbsp;
					{{ form.instance.third_name_ar }}&nbsp;{{ form.instance.family_name_ar }}</h4></div>
			</div>
			<div class="row">
				<div class="col-sm-6">{% formrow form.first_name_ar using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.second_name_ar using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{% formrow form.third_name_ar using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.family_name_ar using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					{% formrow form.username using "floppyforms/rows/bootstrap3-horizontal.html" %}<br><br>
					{% formrow form.government_id_expiry using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.government_id_place using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.birth_place using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.birthday_ah using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
				</div>
				<div class="col-sm-6">
					<img class="img-popup" style="width: 100%"
					     src="{% url 'download_user_file_admin' 'government_id_file' form.instance.pk %}"
					      data-featherlight="{% url 'download_user_file_admin' 'government_id_file' form.instance.pk %}" />
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-12"><h4>{{ form.instance.first_name_en }}&nbsp;{{ form.instance.second_name_en }}&nbsp;
					{{ form.instance.third_name_en }}&nbsp;{{ form.instance.family_name_en }}</h4></div>
			</div>
			<div class="row">
				<div class="col-sm-6">{% formrow form.first_name_en using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.second_name_en using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<div class="row">
				<div class="col-sm-6">{% formrow form.third_name_en using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
				<div class="col-sm-6">{% formrow form.family_name_en using "floppyforms/rows/bootstrap3-horizontal.html" %}</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-6">
					{% formrow form.high_school_gpa using "floppyforms/rows/bootstrap3-horizontal.html" %}<br><br>
					{% formrow form.high_school_graduation_year using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.high_school_system using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.high_school_major using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.high_school_name using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.high_school_province using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					{% formrow form.high_school_city using "floppyforms/rows/bootstrap3-horizontal.html" %}<br><br>
					{% formrow form.birthday using "floppyforms/rows/bootstrap3-horizontal.html" %}<br><br>
				</div>
				<div class="col-sm-6">
					<img class="img-popup" style="width: 100%" src="{% url 'download_user_file_admin' 'high_school_certificate' form.instance.pk %}"/><br>
					{% if form.instance.courses_certificate %}
						<br><img class="img-popup" style="width: 100%" src="{% url 'download_user_file_admin' 'courses_certificate' form.instance.pk %}"/>
					{% endif %}
				</div>
			</div>
			{% if form.instance.student_type == 'M' or form.instance.student_type == 'N' %}
				<hr>
				<div class="row">
					<div class="col-sm-6">
						{% formrow form.passport_number using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
						{% formrow form.passport_place using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
						{% formrow form.passport_expiry using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
						{% formrow form.birthday using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					</div>
					<div class="col-sm-6">
						<img class="img-popup" style="width: 100%" src="{% url 'download_user_file_admin' 'passport_file' form.instance.pk %}"/>
					</div>
				</div>
			{% endif %}
			{% if form.instance.student_type == 'M' %}
				<hr>
				<div class="row">
					<div class="col-sm-6">
						<img class="img-popup" style="width: 100%" src="{% url 'download_user_file_admin' 'mother_gov_id_file' form.instance.pk %}"/><br>
						{% formrow form.saudi_mother_gov_id using "floppyforms/rows/bootstrap3-horizontal.html" %}<br>
					</div>
					<div class="col-sm-6">
						<img class="img-popup" style="width: 100%" src="{% url 'download_user_file_admin' 'birth_certificate' form.instance.pk %}"/>
					</div>
				</div>
			{% endif %}
			<hr>
			<div class="row">
				<div class="col-sm-4">
					{% formrow form.personal_picture using "floppyforms/rows/bootstrap3-horizontal.html" %}<br><br><br>
					{{ form.data_uri }}
					{% formrow form.verification_picture_acceptable using "floppyforms/rows/bootstrap3-horizontal.html" %}
				</div>
				<div class="col-sm-8">
					<div class="col-sm-4 col-md-3 smart-card-div" style="width: 100%">
						<img class="img-popup thumbnail" src="{% url 'download_user_file_admin' 'personal_picture' form.instance.pk %}" >
					</div>
					<br>
				</div>
			</div>
			<hr>
			<div class="row">
				{% formrow form.verification_documents_incomplete using "floppyforms/rows/bootstrap3-horizontal.html" %}
			</div>
			<div class="row">
				{% formrow form.verification_status using "floppyforms/rows/bootstrap3-horizontal.html" %}
			</div>
			<div class="row">
				{% formrow form.verification_notes using "floppyforms/rows/bootstrap3-horizontal.html" %}
			</div>
			<br>
			<hr>
			<br>
			<div class="row">
				<button class="btn btn-primary {% trans 'btn-align' %}" onclick="return confirm('{% trans "are u sure?" %}')">
					<i class="fa fa-search"></i> {% trans 'Verify Student' %}</button>
			</div>
		{% endform %}
	</form>

	<!-- MODAL TO CROP THE IMAGE -->
	<div class="modal fade" id="modalCrop">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">{% trans 'Crop the photo' %}</h4>
				</div>
				<div class="modal-body">
					<img src="" id="image" style="max-width: 100%;">
				</div>
				<div class="modal-footer">
					<div class="btn-group pull-left" role="group">
						<button type="button" class="btn btn-default js-zoom-in">
							<span class="glyphicon glyphicon-zoom-in"></span>
						</button>
						<button type="button" class="btn btn-default js-zoom-out">
							<span class="glyphicon glyphicon-zoom-out"></span>
						</button>
					</div>
					<button type="button" class="btn btn-default js-rotate-right">{% trans 'Rot-right' %}</button>
					<button type="button" class="btn btn-default js-rotate-left">{% trans 'Rot-left' %}</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Cancel' %}</button>
					<button type="button" class="btn btn-primary js-crop-and-upload" data-dismiss="modal">{% trans 'Crop and upload' %}</button>
				</div>
			</div>
		</div>
	</div>
{% endblock subcontent %}

{% block scripts %}
	{{ block.super }}
	<link href="{% static 'css/cropper.min.css' %}" rel="stylesheet">
	<script src="{% static 'js/cropper.min.js' %}"></script>
	<script src="{% static 'js/custom-crop.js' %}"></script>
	<link href="//cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.min.css" type="text/css" rel="stylesheet" />
	<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.6/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
{#	<script src="{% static 'css/magnific-popup.css' %}"></script>#}
{#	<script src="{% static 'js/magnific-popup.js' %}"></script>#}
	<script type="application/javascript">
		$(function () {
			$(".js-crop-and-upload").click(function () {
				cropData();
			});
{#			$('.img-popup').magnificPopup({type:'image'});#}
		});
	</script>
{% endblock %}