{% extends "base.html" %}
{% load i18n %}
{% load floppyforms %}

{% block content %}
	<div class="container">
		{% if messages %}
			<div class="messages">
				{% for message in messages %}
					<div{% if message.tags %} class="alert alert-{{ message.level_tag }}"{% endif %}>{{ message }}</div>
				{% endfor %}
			</div>
		{% endif %}

		{% if students %}
			<div class="row">
				<div class="progress">
					<div class="progress-bar" role="progressbar" aria-valuenow="70"
					     aria-valuemin="0" aria-valuemax="100" style="width:1%">
						<span class="sr-only">0% Complete</span>
					</div>
				</div>
			</div>
			<div class="row">
				<h2>Logs:</h2><br>
				<pre class="logs">

				</pre>
			</div>
			<div class="row">
				<br><br>
				<table class="table table-striped students" style="width:100%">
					<tr>
						<th style="width: 5%">#</th>
						<th style="width: 10%">{% trans 'Government ID' %}</th>
						<th style="width: 25%">{% trans 'Student Full Name (Arabic)' %}</th>
						<th style="width: 15%">{% trans 'Message Status' %} Before</th>
						<th style="width: 15%">{% trans 'Message Status' %} After</th>
						<th style="width: 15%">{% trans 'High School Before' %}</th>
						<th style="width: 15%">{% trans 'High School After' %}</th>
						<th style="width: 15%">{% trans 'Quodrat Before' %}</th>
						<th style="width: 15%">{% trans 'Quodrat After' %}</th>
						<th style="width: 15%">{% trans 'Tahsili Before' %}</th>
						<th style="width: 15%">{% trans 'Tahsili After' %}</th>
					</tr>
					{% for student in students %}
						<tr>
							<td>{{ student.id }}</td>
							<td class="gov_id">{{ student.username }}</td>
							<td>{{ student.student_full_name_ar }}</td>
							<td>{{ student.status_message.status }}</td>
							<td class="st_a"></td>
							<td>{{ student.high_school_gpa }}</td>
							<td class="hs_a"></td>
							<td>{{ student.qudrat_score }}</td>
							<td class="qu_a"></td>
							<td>{{ student.tahsili_score }}</td>
							<td class="ta_a"></td>
						</tr>
					{% endfor %}

				</table>
			</div>
			<br>
			<hr>
			<br>
		{% endif %}
	</div>
{% endblock content %}
{% block scripts %}
	<script type="application/javascript">
		$(function () {
			var counter = 1;
			var total = $(".students tr .gov_id").length
			$(".students tr").each(function () {
				var gov_id = $(this).find(".gov_id").text();
				$.ajax({
					type: "GET",
					contentType: "application/json; charset=utf-8",
					url: "/admin/qiyasupdate",
					data: {"gov_id": gov_id}
					dataType: "json",
					success: function (data) {
						$(this).find(".st_a").text(data.status);
						$(this).find(".hs_a").text(data.hs);
						$(this).find(".qu_a").text(data.qudrat);
						$(this).find(".ta_a").text(data.tahsili);
						$(".logs").text($(".logging").text() + data.log);
						var progress = counter / total * 100;
						$(".progress-bar").attr("style", "width:" + progress + "%");
						counter++;
					}
				});
			});
		})
		;
	</script>
{% endblock scripts %}